html, body {
  margin: 0;
  padding: 0;
}

h4 {
  text-align: left;
}

header {
  width: 100%;
  height: auto;
}

header img {
  width: 100%;
  height: auto;
}

main {
  padding: 20px;
}

h4 {
  margin: 0 0 10px;
}

.published-date {
  margin: 0 0 20px;
  color: gray;
}

p {
  margin: 0 0 20px;
  text-align: left;
}